<div *ngIf="patient">
	<h2>Cost Comparison for {{patient.first_name}} {{patient.last_name}}</h2>
	<nav>
      <a [routerLink]="['Patients']">Back</a>
      <a [routerLink]="['Patient', {id: patient.id}]">Details</a>
      <a [routerLink]="['PatientCostComparison', {id: patient.id}]">Cost Comparison</a>
    </nav>
    <div *ngIf="patient.procedure">
		<div>
			<label>My cost: </label>{{patient.procedure.cost}}
		</div>
	</div>
	<h3>Average cost of patients similar to me</h3>
	<div *ngFor="let key of keys">
		<label>{{patient[key]}} ({{key}}): </label>{{costComparison[key]}}
	</div>
	<div style="width:100%" id="container"></div>
</div>